

@model int
@{
    Layout = null;
}

@if (Model < 2)
{
    <text>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive image -->
<script type="text/javascript">
    (function () {
        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
        var unit = { "calltype": "async[2]", "publisher": "dmziryanov", "width": 550, "height": 250, "sid": "Chitika Default" };
        var placement_id = window.CHITIKA.units.length;
        window.CHITIKA.units.push(unit);
        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
    }());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
    </text>
}
else
{
    <text>
        @* <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Matched Content -->
            <ins class="adsbygoogle"
                 style="display: block"
                 data-ad-client="ca-pub-9707096941681181"
                 data-ad-slot="8338758757"
                 data-ad-format="autorelaxed"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="text-center">*@
<script type="text/javascript">
    (function () {
        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
        var unit = { "calltype": "async[2]", "publisher": "dmziryanov", "width": 550, "height": 250, "sid": "Chitika Default" };
        var placement_id = window.CHITIKA.units.length;
        window.CHITIKA.units.push(unit);
        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
    }());
</script>
        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>

@*        <a target="_blank" href="https://www.facebook.com/spareauto/" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
    <a target="_blank" href="http://vk.com/spare_auto" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-vk"> </i></a>*@

</text>
}
