@model dynamic

@{
    ViewBag.Title = "title";
}


<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2>Советы безопасной покупки автомобиля</h2>
                    </div>
                    <div class="panel-body">

                        1. Узнайте как можно больше об автосалоне, наверняка кто-то из Ваших знакомых пользовался его услугами и может дать рекомендацию. Если такого не нашлось, попробуйте в интернете поискать информацию, но только не на их официальном сайте или их партнёров, попробуйте почить отзывы на форумах автолюбителей и.т.п.
                        2. При заключении договора, читайте его внимательно! Потребуйте квитанции об оплате стоимости автомобиля, где будет стоять полная стоимость. (порадоваться вы ещё успеете потом)
                        3. Договор купли-продажи должен содержать приложение к нему, подробно ознакомьтесь с ним, со всеми техническими характеристиками и комплектацией.
                        4. ПТС должен быть в оригинале выданным таможенным органом, а не МВД, если это иномарка и производства не России. Если автомобиль был произведен в России, ПТС должен быть выдан заводом-изготовителем или официальным дилером. Будьте внимательны при покупке автомобиля!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
