<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h1 class="text-center title-1"><strong>ТИпы объявлений</strong> </h1>
                <hr class="center-block small text-hr">
            </div>
            <div class="faq-content">

                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                    <div class="panel">
                        <div id="headingOne" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                    Обычное
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                            <div class="panel-body">
                                Показывается в общем списке без выделения.
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div id="headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Срочное
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body">
                                Находится в общем списке. Выделяется красной лентой слева
                                <img class="thumbnail no-margin" src="/images/Urgent.png" alt="img">
                                <br><br>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div id="headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Топ-Объявление.
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body">
                                Всегда находится вверху списка (после Продвигаемых и других более поздних Топ-объявлений)
                                <img class="thumbnail no-margin" src="/images/Top.png" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div id="heading_04" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapse_04" aria-expanded="false" href="#collapse_04" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Продвигаемое объявление. Самый агрессивный тип объявлений
                                    
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="heading_04" role="tabpanel" class="panel-collapse collapse" id="collapse_04">
                            <div class="panel-body">
                                Всегда находится вверху списка (после других более поздних Продвигаемых-объявлений). А также появляется в отдельном списке на других страницах
                                <img class="thumbnail no-margin" src="/images/Featured.png" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div id="heading_05" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapse_05" aria-expanded="false" href="#collapse_05" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Оплата объявлений.
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="heading_05" role="tabpanel" class="panel-collapse collapse" id="collapse_05">
                            <div class="panel-body">
                                Оплата осуществляется при размещении объявления и действует ровно месяц. После этого объявления могут быть оплачены снова в личном кабинете.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>