<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h1>Рекламодателям</h1>
                        Если вы хотите разместить специфичную баннерную рекламу на сайте, ознакомьтесь с прайс-листом и позвоните +7 (932) 844 16 05 или пишите на почтовый адрес spareautocom@yandex.ru, форматы представленные ниже можно купить, выбрав тип баннера и оплатив заказ онлайн.
                        <h1>Баннерная реклама</h1>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="padding: 5px" rowspan="2"> Наименование баннера </th>
                                <th style="padding: 5px" rowspan="2"> Раздел </th>
                                <th style="padding: 5px" rowspan="2"> Вид размещения </th>
                                <th style="padding: 5px" rowspan="2">
                                    Количество<br>
                                    рекламных мест
                                </th>
                                <th style="padding: 5px" rowspan="2">
                                    Размер баннера<br>
                                    (ширина × высота, пиксели)
                                </th>
                                <th style="padding: 5px" colspan="1"> Стоимость за календарную неделю (руб.)&nbsp; </th>
                            </tr>
                            <tr>
                                @*                                <th style="padding: 5px"> Без учета НДС </th>*@
                                <th style="padding: 5px"> С НДС +18% </th>
                            </tr>
                            @* <tr>
                                        <td class="l">
                                            Баннер-перетяжка, сквозной<br>
                                            <a target="_blank" href="/promo/adv/pic_01.png">пример</a>
                                        </td>
                                        <td>                     Все внутренние, кроме главной</td>
                                        <td>                     Статический                 </td>
                                        <td>                     1                 </td>
                                        <td>                     100% × 90                 </td>
                                        <td>                     21 000                 </td>
                                        <td>                     24 780                 </td>
                                    </tr>*@
                            <tr>
                                <td class="l">Брендинг</td>
                                <td>Главная (вступление с окошком поиска и футер) + диалог поиска на странице поиска</td>
                                <td> Статический </td>
                                <td> 3 </td>
                                <td>
                                    1600 × 350;
                                    1600 × 200;
                                    1600 × 200
                                </td>
                                <td>5 000 </td>
                            </tr>
                            <tr>
                                <td class="l">
                                    Боковой баннер 240 × 400 (справа или слева, внизу для мобильных устройств*), сквозной<br>

                                </td>
                                <td> Все страницы </td>
                                <td> Статический </td>
                                <td> 1 </td>
                                <td> 120 × 750 </td>
                                <td> 3 000 </td>
                            </tr>
                            <tr>
                                <td class="l">
                                    Верхний баннер 750 × 100, сквозной<br>
                                    <a target="_blank" href="/images/operaBanner.png">пример</a>
                                </td>
                                <td> Все страницы </td>
                                <td> Статический </td>
                                <td> 1 </td>
                                <td> 760 × 100 </td>
                                <td> 2 000 </td>
                            </tr>
                            <tr>
                                <td class="l">
                                    Нижний баннер 750 × 100, сквозной<br>
                                    <a target="_blank" href="/images/operaBanner.png">пример</a>
                                </td>
                                <td> Все страницы </td>
                                <td> Статический </td>
                                <td> 1 </td>
                                <td> 760 × 100 </td>
                                <td> 1 000 </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/Home/PlaceBanner/" class="btn btn-border btn-primary-dark">Все понятно, купить баннер онлайн</a>
                        <br>
                        <br>
                        <br>
                        <br>

                        <h1>Кнопки с предложеним услуг в разделах, со ссылкой на ваш сайт</h1>
                                        

                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="padding: 5px" rowspan="2"> Наименование кнопки </th>
                                <th style="padding: 5px" rowspan="2"> Раздел </th>
                                <th style="padding: 5px" rowspan="2"> Вид размещения </th>
                                <th style="padding: 5px" colspan="1"> Стоимость за календарную неделю (руб.)&nbsp; </th>
                            </tr>
                            <tr>
                                <th style="padding: 5px"> С НДС +18% </th>
                            </tr>
                            <tr>
                                <td class="l"><a class="btn btn-border btn-danger">Подать заявку на кредит</a></td>
                                <td>Недвижимость, Автомобили</td>
                                <td> Статический </td>
                                <td>5 000 </td>
                            </tr>
                            <tr>
                                <td class="l">
                                    <a class="btn btn-border btn-danger">Заказать диагностику</a>
                                </td>
                                <td> Раздел автомобили </td>
                                <td> Статический </td>
                                <td> 1 000 </td>
                            </tr>
                            <tr>
                                <td class="l">
                                    <a class="btn btn-border btn-danger">Рассчитать страховку</a>
                                </td>
                                <td> Раздел автомобили </td>
                                <td> Статический</td>
                                <td> 2 000 </td>
                            </tr>
                            </tbody>
                        </table>
                        * Данный сайт соотвествует технологии <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%B4%D0%B0%D0%BF%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9_%D0%B2%D0%B5%D0%B1-%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD">Responsive Web Design.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
