@model dynamic

@{
    ViewBag.Title= "title";
}


<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2>Дать бесплатное объявление о продаже автомобиля</h2>
                    </div>
                    <div class="panel-body">


                        <div style="color: #494949; margin: 20px 0;">
                            <p>
                                Где разместить объявление о продаже автомобиля? На adv.spare-auto.com — одном из
                                крупнейших интернет-порталов в России по продаже автомобилей.
                            </p>

                            <p>
                                Здесь вы всегда найдете тысячи платных и бесплатных объявлений от частных
                                лиц о продаже автомобилей.
                            </p>

                            <p>
                                На adv.spare-auto.com Вы можете бесплатно разместить объявление о продаже
                                легкового автомобиля, подать объявление по продаже легкого коммерческого
                                транспорта, добавить объвление об автобусе, грузовике, прицепе, фургоне или, дать объвление о продаже ретро автомобиля. 
                                adv.spare-auto.com позволяет подавать объявления с фотографиями, полным описанием и без регистрации.
                            </p>

                            <p>
                                На адв спар авто ру дать объявление о продаже автомобиля бесплатно — проще
                                простого!
                            </p>

                            <h2 style="font: normal 22px Arial, sans-serif">Подать объявление без регистрации</h2>

                            <ul class="rare" style="margin: 10px 0 10px 10px;">
                                <li>Вы можете бесплатно дать объявление на adv.spare-auto.com.</li>
                                <li>
                                    Число ваших объявлений одновременно присутствующих на сайте неограничено
                                    
                                </li>
                                <li>Максимально количество фотографий в объявлении — 5.</li>
                                <li>Размер фотографий — до 400Кб.</li>
                                <li>Детальное описание транспортного средства.</li>
                                <li>Подача объявлений без регистрации.</li>
                            </ul>


                            <div class="postadd">
                                @Html.ActionLink("Разместить объявление о продаже авто", "PostCarAdv", "Adv", null, new { @class= "btn btn-border btn-danger" })
                            </div>
                                <br>
                                <br>

                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=1> - Каталог авто Ульяновск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=10> - Каталог авто Кострома</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=100> - Каталог авто Майкоп</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=103> - Каталог авто Челябинск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=107> - Каталог авто Астрахань</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=108> - Каталог авто Воронеж</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=109> - Каталог авто Ленинск-Кузнецкий</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=110> - Каталог авто Новосибирск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=111> - Каталог авто Коломна</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=112> - Каталог авто Благовещенск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=115> - Каталог авто Тамбов</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=117> - Каталог авто Владимир</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=120> - Каталог авто Альметьевск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=123> - Каталог авто Ставрополь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=124> - Каталог авто Курск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=126> - Каталог авто Бийск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=131> - Каталог авто Калуга</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=137> - Каталог авто Самара</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=138> - Каталог авто Сыктывкар</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=139> - Каталог авто Томск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=14> - Каталог авто Октябрьский</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=141> - Каталог авто Санкт-Петербург</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=144> - Каталог авто Ростов-на-Дону</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=149> - Каталог авто Архангельск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=151> - Каталог авто Улан-Удэ</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=153> - Каталог авто Пенза</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=158> - Каталог авто Краснодар</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=162> - Каталог авто Екатеринбург</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=163> - Каталог авто Смоленск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=164> - Каталог авто Волжский</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=165> - Каталог авто Ханты-Мансийск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=173> - Каталог авто Минск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=18> - Каталог авто Элиста</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=19> - Каталог авто Иркутск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=2> - Каталог авто Брянск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=216> - Каталог авто Севастополь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=217> - Каталог авто Симферополь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=22> - Каталог авто Москва</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=234> - Каталог авто Белая Церковь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=241> - Каталог авто Каменец-Подольский</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=243> - Каталог авто Александрия</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=256> - Каталог авто Уральск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=26> - Каталог авто Ижевск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=266> - Каталог авто Bath</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=29> - Каталог авто Владивосток</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=36> - Каталог авто Оренбург</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=38> - Каталог авто Белгород</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=40> - Каталог авто Хабаровск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=42> - Каталог авто Кемерово</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=47> - Каталог авто Казань</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=49> - Каталог авто Волгоград</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=55> - Каталог авто Петрозаводск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=56> - Каталог авто Омск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=59> - Каталог авто Чебоксары</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=6> - Каталог авто Тула</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=61> - Каталог авто Киров</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=62> - Каталог авто Пермь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=72> - Каталог авто Барнаул</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=73> - Каталог авто Калининград</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=80> - Каталог авто Красноярск</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=82> - Каталог авто Вологда</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=85> - Каталог авто Ярославль</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=87> - Каталог авто Саратов</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=89> - Каталог авто Тюмень</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=90> - Каталог авто Тверь</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=92> - Каталог авто Нижний Новгород</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=93> - Каталог авто Нижний Тагил</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=95> - Каталог авто Уфа</a>
                                <a href=http://adv.spare-auto.com/Category/Search?category=49&location=96> - Каталог авто Иваново</a>

                                @* <p>Если вы продаете другой вид ТС, то воспользуйтесь нашими специализированными сервисами.</p>
            <div class="ac">
                <div style="display: inline-block;">
                    <table class="al" style="margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td style="padding: 20px 150px 20px 0;"><a href="http://www.hitruck.ru/direct/"><img src="http://www.hitruck.ru/i/hitruck.ru/logo.png"></a></td>
                                <td style="padding: 20px 0;"><a href="http://www.motorate.ru/direct/"><img src="http://www.motorate.ru/i/motorate.ru/logo.png" data-pin-nopin="true"></a></td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 150px 20px 0;"><a href="http://www.planetwater.ru/direct/"><img src="http://www.planetwater.ru/i/planetwater.ru/logo.png" data-pin-nopin="true"></a></td>
                                <td style="padding: 20px 0;"><a href="http://www.truesky.ru/direct/"><img src="http://www.truesky.ru/i/truesky.ru/logo.png" data-pin-nopin="true"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
