@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="inner-box-ads relative">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Top advdetails box -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9707096941681181"
         data-ad-slot="3372005550"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>



<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2>Поиск работы</h2>
                    </div>
                    <div class="panel-body">


                        <div class="rua-p-c-light">
                            <h2 class="headline centered mtmb rua-p-c-default">Почему стоит создать резюме на adv.spare-auto.com?</h2>
                            <div class="row">
                                
                                <div class="col-sm-6">
                                    <p>
                                        <span class="col-sm-6">Увеличьте шансы найти работу.</span> Главная причина составить резюме онлайн – вас увидит работодатель! И речь не о вашем фото. По нашим данным, половина работодателей находят нужных специалистов именно в базе резюме еще до размещения своей вакансии.
                                    </p>
                                    <p>
                                        <span class="col-sm-6">Профессионализм.</span> Конструктор резюме adv.spare-auto.ru разработан экспертами в области HR. При составлении резюме система подскажет вам, о чем нужно рассказать. Это поможет работодателю сразу увидеть нужную информацию и узнать о всех ваших сильных сторонах. Кроме того, разместить резюме на сайте можно абсолютно бесплатно.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <span class="col-sm-3">Доступность.</span> После создания профессионального резюме на adv.spare-auto.ru вам достаточно одного звонка, чтобы связаться с работодателем. Также вы сможете в любой момент скачать свое CV, чтобы распечатать и, например, пойти на собеседование или ярмарку вакансий.
                                    </p>
                                    <p>
                                        <span class="col-sm-3">Актуальность.</span> Подписывайтесь на рассылки вакансий и управляйте настройками, чтобы первыми узнавать о свежих вакансиях от проверенных работодателей. Благодаря гибким фильтрам – на вашу почту будут приходить только те предложения о работе, которые подходят всем вашим требованиям.
                                    </p>
                                </div>
                            </div></div>


                        <div class="postadd">
                            @Html.ActionLink("Разместить резюме", "PostResume", "Adv", null, new { @class = "btn btn-block btn-border btn-post btn-danger" })
                        </div>
                        <a href=http://adv.spare-auto.com/Category/Search?category=19&location=162> - Каталог вакансий Екатеринбург</a>
                        <a href=http://adv.spare-auto.com/Category/Search?category=19&location=74> - Каталог вакансий Ноябрьск</a>
                        @* <p>Если вы продаете другой вид ТС, то воспользуйтесь нашими специализированными сервисами.</p>
                            <div class="ac">
                                <div style="display: inline-block;">
                                    <table class="al" style="margin-top: 20px;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 20px 150px 20px 0;"><a href="http://www.hitruck.ru/direct/"><img src="http://www.hitruck.ru/i/hitruck.ru/logo.png"></a></td>
                                                <td style="padding: 20px 0;"><a href="http://www.motorate.ru/direct/"><img src="http://www.motorate.ru/i/motorate.ru/logo.png" data-pin-nopin="true"></a></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px 150px 20px 0;"><a href="http://www.planetwater.ru/direct/"><img src="http://www.planetwater.ru/i/planetwater.ru/logo.png" data-pin-nopin="true"></a></td>
                                                <td style="padding: 20px 0;"><a href="http://www.truesky.ru/direct/"><img src="http://www.truesky.ru/i/truesky.ru/logo.png" data-pin-nopin="true"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

