<div class="intro-inner">
    <div class="about-intro" style="
    background:url(/images/bg2.jpg) no-repeat center;
	background-size:cover;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown">Правила поведения на сайте</h1>
                </div>
            </div>
        </div>
    </div>
    <!--/.about-intro -->

</div>
<!-- /.intro-inner -->

<div class="main-container inner-page">
    <div class="container">
        <div class="row clearfix">
            <h1 class="text-center title-1">Запрещено</h1>
            <hr class="center-block small text-hr">
            <div class="white-box text-center">
                <ul class="list-check">
                    <li>Нецензурная лексика</li>
                    <li>Материалы для взрослых (порнография, видео и фото). В случае эротических материалов администрация оставляет на свое усмотрение</li>
                    <li>Спам</li>
                    <li>В случае невыполнения этих требований Администрация оставляет за собой право блокировать материалы и пользователей</li>
                </ul>
            </div>
        </div>
        <div style="clear: both">
            <hr>
        </div>
        <h1 class="text-center title-1">Приветствуется</h1>
        <hr class="center-block small text-hr">
        <div class="white-box text-center">
            <ul class="list-check">
                <li>Полезный и содержательный материал</li>
                <li>Создание объялений о нужных вещах и услугах, содержательных отзывов, интересных и познавательных блогов</li>
                <li>Данные действия всячески поощряются</li>
            </ul>

        </div>
        <div style="clear: both">
            <hr>
        </div>
    </div>
</div>

