@{
    Layout = null;
}

<div class="input-group">
    @*<span class="input-group-addon">РУБ.</span>*@
    <input id="Price" name="Price" class="form-control" placeholder="0.00" required="" type="text">
    <span class="input-group-addon">
        <select id="Currency" name="Currency">
            <option value="руб" style="background-color: #E9E9E9; font-weight: bold;" selected="selected"> - рубль - </option>
            <option value="БР" style="background-color: #E9E9E9; font-weight: bold;"> - бел. рубль - </option>
            <option value="Гривна" style="background-color: #E9E9E9; font-weight: bold;"> - гривна - </option>
            <option value="Теньге" style="background-color: #E9E9E9; font-weight: bold;"> - Теньге - </option>
            <option value="$" style="background-color: #E9E9E9; font-weight: bold;"> - Доллар USA - </option>
            <option value="€" style="background-color: #E9E9E9; font-weight: bold;"> - Евро - </option>
            <option value="₤" style="background-color: #E9E9E9; font-weight: bold;"> - Фунт Стерлингов - </option>
        </select>
    </span>
</div>